* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #0d0d0d;
    color: #fff;
   
}
#page1, #page2, #page3{
    height: 100vh;
    width: 100%;
}

#move{
    display: flex;
    overflow: hidden;
    background-color: aquamarine;

}

.marquee h1 {
    font-size: 40px;
}

.marquee{
    display: flex;
    align-items: center;
    gap:20px;
    padding: 0.15vw;
    color: black;

    transform: translateX(-100%);
}
.marquee .arrow i {
    display: inline-block;   
}