* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #0d0d0d;
    color: #fff;
    overflow-x: hidden;
   
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 100px;
}
h1 span{
    display: inline-block;
}